@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

#root { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(180deg, rgba(0,212,255,0.5) 50%, rgba(126,217,0,0.5) 100%);
}

.ui.container {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 6rem;
    padding: 2rem;
}

#pageHeader {
    font-family: "roboto-light", sans-serif;
    font-weight: normal;
    text-align: center;
    color: #ffffff;
}

.ui.header.medium {
    font-family: "roboto-light", sans-serif !important;
    text-align: center;
    color: #ffffff;
}

.inputForm input {
    border: solid 1px #0000006b;
    padding: 1rem;
    width: 50%;
    margin: 0 auto 1rem auto;
}

.ui.primary.button {
    width: 20%;
    margin: 0 auto;
    display: block;
}
